.main-chat
  .member-list
    .left-list
      = @group.users 
      .left-list__members
        Member: 
        %ul
        - @group.users.each do |user|
          %li= user.user
    .right-list
      =link_to "Edit", edit_user_path(current_user),class: "editlink"

  .messages
    = render @message
 
