.message{data: {message: {id: message.id}}}
  .over
    .over__user-name
      = @message.user
    .over__date
      = @message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .under
    - if message.content.present?
      %p.under__content
        = message.content
    = image_tag message.image.url, class: 'under__comment__image' if message.image.present?