.message{data: {message: {id: message.id}}}
  .over
    .over__user-name
       
    .over__date

  .under
    - if message.text.present?
      %p.under__content
        = message.text
    = image_tag message.image.url, class: 'under__comment__image' if message.image.present?