.message{data: {message: {id: message.id}}}
  .over
    .over__user-name
      = @message.user
    .over__date
      = "%Y年%m月%d日 %H時%M分"
  .under
    - if message.text.present?
      %p.under__content
        = message.text
    = image_tag message.image.url, class: 'under__comment__image' if message.image.present?