.top-side
  .side-menu
    %ul.side-menu__names
      %li.side-menu__names__user
        =current_user.store
      %li.side-menu__names__user
        =current_user.name

  .menu
    .menu__top
      メニュー
      %ul.menu__top__lists
        %li.menu__top__lists__links
          = link_to "入荷・出荷",root_path,class: "menu__top__lists__links__btn"
        %li.menu__top__lists__links
          = link_to "商品追加",new_stock_path,class: "menu__top__lists__links__btn"
        %li.menu__top__lists__links
          = link_to "商品取消",stock_path(:id),class: "menu__top__lists__links__btn"
        %li.menu__top__lists__links
          =link_to "ログアウト", users_sign_out_path,class: "menu__top__lists__links__btn",id: "logout"
  