$tomato: #CB4829;
$carrot: #F39800;
$lettuce: #AACF52;
$cabbage: #A5D4AD;
$potato: #B7AA00;
$spinach: #39A869;
$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;